/* Recommendations.css */

.recommendations-container {
  width: 100%;
  margin: 0;
  min-height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: radial-gradient(circle, #fceabb, #f8b500);  */
  /* Apply radial gradient */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendations-title {
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 15px;
  width: 100%;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1200px;
}

.loading,
.error {
  text-align: center;
  padding: 40px;
  font-size: 1.2em;
  color: #555;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.no-movies{
    text-align: center;
    padding: 40px;
    font-size: 1.2em;
    color: #555;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}